.navbar-fixed-top {
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index:999;
  background-color: #e0dada;
  height: 10vh;
}

.navbar-buttons-container {
    float: right;
    max-height: 6vh;
}

.navbar-buttons {
  display: inline-block;
}


.title a {
    margin: 1vh;
    float:left;
    text-transform: uppercase;
    font-size: 7vh;
    color: rgb(0, 195, 255);
    text-decoration: none;
    font-weight: bold;
}

.navbar-icon {
  float: left;
  margin: 1vh;
  width: 7vh;
}