.title {
    font-size: 3rem;
    margin-bottom: 2vh;
}

.centered {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;   
    text-align: center;
}

.text-box {
    
    min-width: 50vw;
    max-width: 50vw;
    min-height: 50vh;

    border: 1px solid white;
    text-align: left;
    padding: 1vw;
    margin-bottom: 2vh;
}